projects/maker/lorawan-nodered/flows_base64_updated.json
[
  {
    "id": "eae280a2e3d9d24a",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "mqtt-in-ttn",
    "type": "mqtt in",
    "z": "eae280a2e3d9d24a",
    "name": "TTN Uplinks",
    "topic": "v3/5571-258-irri@ttn/devices/+/up",
    "qos": "0",
    "datatype": "json",
    "broker": "ttn-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 100,
    "wires": [
      [
        "debug-ttn"
      ]
    ]
  },
  {
    "id": "debug-ttn",
    "type": "debug",
    "z": "eae280a2e3d9d24a",
    "name": "TTN Uplink Payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.uplink_message.decoded_payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject_5am",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "5:00 AM",
    "props": [],
    "repeat": "",
    "crontab": "00 05 * * 2,4,0",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 240,
    "y": 160,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "inject_530am",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "5:30 AM",
    "props": [],
    "repeat": "",
    "crontab": "30 05 * * 2,4,0",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 240,
    "y": 200,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "inject_4pm",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "4:00 PM",
    "props": [],
    "repeat": "",
    "crontab": "0 16 * * *",
    "once": false,
    "topic": "override-4pm",
    "payload": "",
    "payloadType": "date",
    "x": 240,
    "y": 240,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "inject_6pm",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "6:00 PM",
    "props": [],
    "repeat": "",
    "crontab": "0 18 * * *",
    "once": false,
    "topic": "override-6pm",
    "payload": "",
    "payloadType": "date",
    "x": 240,
    "y": 280,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "eae280a2e3d9d24a",
    "name": "Send Downlink",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "ttn-broker",
    "x": 840,
    "y": 260,
    "wires": []
  },
  {
    "id": "mqtt_soil",
    "type": "mqtt in",
    "z": "eae280a2e3d9d24a",
    "name": "Soil Moisture MQTT",
    "topic": "sensors/soil",
    "qos": "2",
    "datatype": "json",
    "broker": "ttn-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 610,
    "y": 380,
    "wires": [
      [
        "fn_set_soil"
      ]
    ]
  },
  {
    "id": "mqtt_temp",
    "type": "mqtt in",
    "z": "eae280a2e3d9d24a",
    "name": "Temperature MQTT",
    "topic": "sensors/temp",
    "qos": "2",
    "datatype": "json",
    "broker": "ttn-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 610,
    "y": 440,
    "wires": [
      [
        "fn_set_temp"
      ]
    ]
  },
  {
    "id": "fn_set_soil",
    "type": "function",
    "z": "eae280a2e3d9d24a",
    "name": "Set Soil % (flow.set)",
    "func": "\nlet device = msg.payload.device_id;\nlet soil = msg.payload.soil_pct;\n\nif (device && typeof soil !== \"undefined\") {\n    flow.set(device + \"_soil_pct\", soil);\n}\n\nreturn null;\n",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 340,
    "wires": []
  },
  {
    "id": "fn_set_temp",
    "type": "function",
    "z": "eae280a2e3d9d24a",
    "name": "Set Temp F (flow.set)",
    "func": "let vnode = msg.payload.node_id;\nlet temp = msg.payload.tempF;\n\nif (vnode && typeof temp !== \"undefined\") {\n    flow.set(vnode + \"_tempF\", temp);\n}\n\nreturn null;\n",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 380,
    "wires": []
  },
  {
    "id": "79e771982a9b6b61",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "test inject soil",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{ \"device_id\": \"ss1\", \"soil_pct\": 38 }",
    "payloadType": "json",
    "x": 440,
    "y": 80,
    "wires": [
      [
        "fn_set_soil"
      ]
    ]
  },
  {
    "id": "87736b226adb6ba9",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "test inject temp",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{ \"node_id\": \"vn1\", \"tempF\": 102 }",
    "payloadType": "json",
    "x": 440,
    "y": 120,
    "wires": [
      [
        "fn_set_temp"
      ]
    ]
  },
  {
    "id": "15c5212e79cdc89e",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "test",
    "props": [
      {
        "p": "topic",
        "v": "scheduled",
        "vt": "msg"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 410,
    "y": 40,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "e54a5c2d8a72685b",
    "type": "debug",
    "z": "eae280a2e3d9d24a",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 160,
    "wires": []
  },
  {
    "id": "814e23bd46866b61",
    "type": "function",
    "z": "eae280a2e3d9d24a",
    "name": "Schedule + Moisture Logic",
    "func": "let moistureThresholds = {\n    ss1: 40, ss2: 40, ss3: 40, ss4: 40,\n    ss5: 40, ss6: 40, ss7: 40, ss8: 40\n};\n\nlet valveMap = {\n    ss1: { vnode: 'relay-node1', fport: 6 },\n    ss2: { vnode: 'relay-node1', fport: 7 },\n    ss3: { vnode: 'relay-node1', fport: 8 },\n    ss4: { vnode: 'relay-node1', fport: 9 },\n    ss5: { vnode: 'relay-node-2', fport: 6 },\n    ss6: { vnode: 'relay-node-2', fport: 7 },\n    ss7: { vnode: 'relay-node-2', fport: 8 },\n    ss8: { vnode: 'relay-node-2', fport: 9 }\n};\n\nlet now = new Date();\nlet dow = now.getDay(); // 0 = Sun\nlet scheduleType = msg.topic || 'scheduled';\nlet results = [];\n\nlet schedule = { \n     relay-node1 : [0, 2, 4], // Sun, Tue, Thu\n    relay-node-2 : [1, 3, 5]  // Mon, Wed, Fri\n};\n\nfor (let vnode in schedule) {\n   // if (scheduleType === 'scheduled' && !schedule[vnode].includes(dow)) continue;\n\n    for (let sensor in valveMap) {\n        let map = valveMap[sensor];\n        if (map.vnode !== vnode) continue;\n\n        let moisture = flow.get(sensor + \"_soil_pct\") || 0;\n        let temp = flow.get(vnode + \"_tempF\") || 80;\n        let threshold = moistureThresholds[sensor];\n        let hot = temp >= 100;\n\n        let shouldRun =\n            (scheduleType === 'scheduled' && moisture <= threshold) ||\n            (scheduleType === 'override-4pm' && hot && moisture <= threshold) ||\n            (scheduleType === 'override-6pm' && hot && moisture <= threshold);\n\n        if (shouldRun) {\n            let onMessage = {\n                topic: `v3/5571-258-irri@ttn/devices/${vnode}/down/push`,\n                payload: {\n                    downlinks: [\n                        {\n                            frm_payload: Buffer.from([1]).toString('base64'),\n                            f_port: map.fport,\n                            priority: \"NORMAL\"\n                        }\n                    ]\n                },\n                qos: 1,\n                retain: false\n            };\n\n            results.push(onMessage);\n\n            // Send to OFF handler with just node and port\n            results.push({ vnode: vnode, fport: map.fport });\n        }\n\n     \n    }\n\n    }\nreturn results;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 15,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 220,
    "wires": [
      [
        "mqtt_out",
        "e54a5c2d8a72685b",
        "95cb1dbc6ff77f96"
      ]
    ]
  },
  {
    "id": "126da1befb214768",
    "type": "debug",
    "z": "eae280a2e3d9d24a",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1060,
    "y": 340,
    "wires": []
  },
  {
    "id": "34cf1cef7e3864be",
    "type": "debug",
    "z": "eae280a2e3d9d24a",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1060,
    "y": 380,
    "wires": []
  },
  {
    "id": "95cb1dbc6ff77f96",
    "type": "function",
    "z": "eae280a2e3d9d24a",
    "name": "Schedule OFF",
    "func": "let delayMs = 300000; // 5 minutes = 300,000 ms\n// let delayMs = 15000; // 15 seconds\n\nlet vnode = msg.vnode;\nlet fport = msg.fport;\n\n// Build the OFF message with payload [0] \u2192 base64: \"AA==\"\nlet offMessage = {\n    topic: `v3/5571-258-irri@ttn/devices/${vnode}/down/push`,\n    payload: {\n        downlinks: [\n            {\n                frm_payload: Buffer.from([0]).toString('base64'),\n                f_port: fport,\n                priority: \"NORMAL\"\n            }\n        ]\n    },\n    qos: 1,\n    retain: false\n};\n\n// Use setTimeout to delay the send\nsetTimeout(() => {\n    node.send(offMessage);\n}, delayMs);\n\n// This function itself doesn't return anything immediately\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 280,
    "wires": [
      [
        "mqtt_out"
      ]
    ]
  },
  {
    "id": "289c6e17e3acbe64",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "VN1 5:30",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 05 * * 2,4,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "scheduled",
    "payload": "",
    "payloadType": "str",
    "x": 300,
    "y": 380,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "e41c7a2d1c46c636",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "VN2  5:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 05 * * 1,3,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "scheduled",
    "payload": "",
    "payloadType": "str",
    "x": 300,
    "y": 420,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "4eb891f51c6d9f98",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "VN2 5:30",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 05 * * 1,3,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "scheduled",
    "payload": "",
    "payloadType": "str",
    "x": 300,
    "y": 460,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "071186442e521c1c",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "override@ 4 pm",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 16 * * 1,2,3,4,5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "override-4pm",
    "payload": "",
    "payloadType": "str",
    "x": 320,
    "y": 500,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "34677895a684b214",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "override@6pm",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "v": "override-4pm",
        "vt": "msg"
      }
    ],
    "repeat": "",
    "crontab": "00 18 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 320,
    "y": 540,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "cae4f0b6cce1a728",
    "type": "inject",
    "z": "eae280a2e3d9d24a",
    "name": "VN1 5:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "v": "scheduled",
        "vt": "msg"
      }
    ],
    "repeat": "",
    "crontab": "00 05 * * 2,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 300,
    "y": 340,
    "wires": [
      [
        "814e23bd46866b61"
      ]
    ]
  },
  {
    "id": "ttn-broker",
    "type": "mqtt-broker",
    "name": "TTN MQTT",
    "broker": "nam1.cloud.thethings.network",
    "port": "8883",
    "tls": "ttn-tls",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "ttn-tls",
    "type": "tls-config",
    "name": "TTN TLS",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": true,
    "alpnprotocol": ""
  }
]